{
  "presets": ["react", "flow", "stage-0"],
  "plugins": [
    ["@quickbaseoss/babel-plugin-styled-components-css-namespace", { "cssNamespace": "lib" }],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ],
    ["transform-object-rest-spread"]
  ],
  "env": {
    "test": {
      "presets": ["es2015", "react"]
    }
  }
}
