{
  "ignore": ["node_modules/**/*"],
  "presets": ["@babel/env", "next", "@babel/flow"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
