{
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "extends": ["airbnb", "plugin:redux-saga/recommended", "plugin:flowtype/recommended"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "IntersectionObserver": true
  },
  "plugins": ["jest", "redux-saga", "flowtype"],
  "overrides": [
    {
      "files": ["**/*.story.js", "**/*.config.js", "**/*.setup.js", "**/*.test.js", "**/*.spec.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "no-console": "off"
      }
    },
    {
      "files": ["**/*.test.js", "**/*.spec.js", "**/*.flow.js"],
      "env": {
        "jest/globals": true
      },
      "rules": {
        "redux-saga/yield-effects": "off",
        "redux-saga/no-unhandled-errors": "off",
        "flowtype/no-types-missing-file-annotation": "off"
      }
    }
  ]
}
