{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
    "declaration-colon-newline-after": null,
    "value-list-max-empty-lines": null,
    "font-family-no-missing-generic-family-keyword": null
  }
}