/** * * {{ properCase name }} * */
// @flow
import { PureComponent } from 'react';
import styles from './{{ properCase name}}.style.js';
import type { Props } from './types';

class {{ properCase name}} extends PureComponent<Props> {
  static defaultProps = {};
  render() {
    return (
      <div className={styles.default}></div>
    );
  }
}
export default { {{ properCase name }} };
